<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:object="${credentialsForm}" th:action="@{/credentials}" method="POST">
    <input type="text" th:field="*{url}"/>
    <input type="text" th:field="*{key}" />
    <input type="text" th:field="*{username}" />
    <input type="text" th:field="*{password}" />
    <button type="submit">Add</button>
</form>
<table>

    <tr th:each="credential : ${credentials}">
        <td th:text="${credential.url}"></td>
        <td th:text="${credential.key}"></td>
        <td th:text="${credential.username}"></td>
        <td th:text="${credential.password}"></td>
        <td><a th:href="@{'/credentials/'+${credential.credentialId}+'/delete'}">Delete</a></td>
    </tr>
</table>
</body>
</html>
